@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.auth {
  background-color: #011522; 
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    width: 350px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #1da1f2, -14px -14px 20px #EA52F8;
    font-family: 'Poppins', sans-serif;
  
    .tools {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  
      .circle {
        padding: 0 4px;
  
        .box {
          display: inline-block;
          align-items: center;
          width: 10px;
          height: 10px;
          padding: 1px;
          border-radius: 50%;
        }
  
        .red {
          background-color: #ff605c;
        }
  
        .yellow {
          background-color: #ffbd44;
        }
  
        .green {
          background-color: #00ca4e;
        }
      }
    }
  
    .card__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .form {
      width: 100%;
      text-align: center;
  
      .logo {
        margin-bottom: 20px;
      }
  
      h2 {
        font-size: 1.8rem;
        font-weight: 900;
        color: #1da1f2;
        margin-bottom: 20px;
      }
  
      form {
        width: 100%;
        margin-bottom: 20px;
  
        input {
          background: #ecf0f3;
          padding: 10px;
          padding-left: 20px;
          height: 50px;
          font-size: 14px;
          border-radius: 50px;
          box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
          width: 100%;
          margin-bottom: 20px;
        }
  
        button {
          color: white;
          background: linear-gradient(#EA52F8, #0066FF);
          height: 40px;
          border-radius: 20px;
          cursor: pointer;
          font-weight: 900;
          box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
          transition: 0.5s;
  
          &:hover {
            box-shadow: none;
          }
        }
      }
  
      .register {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 0 2em;
  
        a {
          margin-left: 5px;
          margin-right: 5px;
        }
  
        .link{
          color: #fff;
          text-decoration: none;
          background: linear-gradient(#EA52F8, #0066FF);
          border-radius: 10px;
          padding: 8px;
        }
      }
    }
  }
  

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  background-image: 
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%230066FF' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%236E64E7' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%230066FF' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%236E64E7' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%230066FF' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%236E64E7' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x;
  background-size: 1600px 50%;
  background-position: 0 130%, -50px 130%, 500px 130%;
  animation: 20s waves linear infinite forwards;

  @keyframes waves {
    to {
      background-position: 1600px 130%, 3150px 130%, 5300px 130%;
    }
  }
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.link-home{
  margin-bottom: 10px;
  color: #0066FF;
}