.change-password {
  width: 300px;
  .password-card {
    padding: 1rem;
    border: 2px solid red;
  }
}

.circles {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .circle-1 {
    background-color: #ff605c;
  }

  .circle-2 {
    background-color: #ffbd44;
  }

  .circle-3 {
    background-color: #00ca4e;
  }
}

