.footer{
  transition: color 0.3s, font-size 0.3s;
  white-space: nowrap;
}

.footer:hover {
cursor: pointer;
font-size: 20px; 
transition: color 0.3s; 
background: linear-gradient(to right, #3388ff, #3300cc);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
